<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="me.rerere.rikkahub.ui.components.richtext.runtime.TavernRuntimeSmokeActivity"
            android:exported="false" />
    </application>
</manifest>
